<div class="pt-8 lg:h-[calc(100vh_-_100px)] bg-bg-default flex items-center overflow-hidden lg:max-h-[1024px]">
    <div class="container grid grid-cols-12 h-full">
        <div class="col-span-11 lg:col-start-1 lg:col-end-7 flex flex-col self-center transform lg:-translate-y-1/2">
            <span class="inline-flex flex-col md:flex-row items-start md:items-center font-light text-copy text-white-default inline-block mb-2 sm:mb-4">
                {{
                    svg('img/svg/emojione_waving-hand.svg')|attr({
                        class: 'w-[29px] h-[29px] mr-2'
                    })
                }}
                Hi, ik ben Angelo Keirsebilck,
                <br />
            </span>
            <span class="mb-0 sm:mb-2 inline-block text-[30px] leading-[35px] sm:text-[40px] lg:text-[61px] sm:leading-[50px] lg:leading-[70px] font-semibold bg-clip-text text-transparent bg-gradient-to-r from-primary-default to-secondary-default self-start">
                Freelance <br /> web developer
            </span>
            <span class="inline-block text-[23px] leading-[28px] sm:text-[30px] lg:text-[45px] sm:leading-[38px] lg:leading-[60px] text-white-default font-light">
                met een passie voor <br /> design en
                <span class="relative whitespace-nowrap">
                    <span class="relative z-20">JavaScript</span>
                    {{
                        svg('img/svg/underline.svg')|attr({
                            class: 'absolute bottom-0 left-0 w-full h-2 lg:h-3 z-10'
                        })
                    }}
                    {{
                        svg('img/svg/swirl1.svg')|attr({
                            class: 'absolute -bottom-10 md:!-bottom-16 w-[3rem] h-[3rem] md:w-[77px] md:h-[77px] left-2 md:left-5'
                        })
                    }}
                    <div class="flex absolute -bottom-10 md:-bottom-14 left-16 md:left-28">
                        {% for img in block.itemJsIcons.all() %}
                            <img src="{{
                                img.getUrl({
                                    format: 'webp'
                                })
                                }}"
                                class="  min-w-[25px] md:h-[30px] md:w-[34px] md:min-w-[34px] md:max-w-[initial] {{
                                not loop.first
                                    ? 'ml-2'
                                }}"
                                height="30"
                                width="34"
                                type="image/webp"
                                alt="{{ img.alt ? img.alt : img.title }}" />
                        {% endfor %}
                    </div>
                </span>
            </span>
        </div>
        <div class="col-span-8 col-start-3 lg:col-start-7 lg:col-end-12 self-end mt-24">
            <div class="relative">
                {% set optimizedImage =
                    block.itemPortrait.one().fieldHomePortraitImgOpt
                %}
                <picture>
                    <source srcset="{{ optimizedImage.srcsetWebP() }}"
                        sizes="{{ sizes }}"
                        type="image/webp" />
                    <img src="{{ optimizedImage.src() }}"
                        srcset="{{ optimizedImage.srcset() }}"
                        sizes="{{ sizes }}"
                        class="relative z-10"
                        width="{{ block.itemPortrait.one().getWidth() }}"
                        height="{{ block.itemPortrait.one().getHeight() }}"
                        alt="{{
                        block.itemPortrait.one().alt
                            ? block.itemPortrait.one().alt
                            : block.itemPortrait.one().title
                        }}" />
                </picture>
                <div class="absolute top-32 -left-4 w-72 h-72 bg-primary-default rounded-full filter blur-circle opacity-50 animate-blob"></div>
                <div class="absolute top-32 -right-4 w-80 h-60 bg-secondary-default rounded-full filter blur-circle opacity-50 animate-blob animation-delay-2000"></div>
                <div class="absolute -bottom-8 left-20 w-96 h-56 bg-tertiary-default rounded-full filter blur-circle opacity-50 animate-blob animation-delay-4000"></div>
            </div>
        </div>
    </div>
</div>

{# <span class="bg-underline transition-all bg-no-repeat bg-left-bottom bg-[length:100%_12px]">JavaScript </span> #}
