{% import '_macros/_tools.twig' as macros %}

<div class="section js-accordionImages" x-data="collapse">
    <div class="container relative">
        <div class="grid-cols-12 gap-10 lg:grid">
            <div class="col-span-5">
                {% if block.itemTitle %}
                    <div class="overflow-hidden">
                        <h2 class="font-medium text-31 lg:!text-48 transform translate-y-full js-title">
                            {{ block.itemTitle }}
                        </h2>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="relative grid-cols-12 gap-10 lg:grid">
            <div class="js-accordionImageBackground hidden lg:!block bg-secondary-light absolute top-6 left-1/2 w-[50vw] rounded-2xl"></div>
            <div class="relative z-10 col-span-5 mb-10 js-accordion lg:mb-0">
               {% for item in block.itemList.collect() %}
                    <div class="w-full">
                        <div class="relative border-b cursor-pointer border-tertiary-default pb-5 lg:pb-7">
                            <div
                                class="flex justify-between pt-5 font-medium transition-colors text-22 md:hover:text-secondary-default lg:pt-7 lg:text-24"
                                x-bind:class="activeIndex == {{ loop.index }} && 'text-secondary-default'"
                             
                                @click="clickHandler({{ loop.index }})"
                            >
                                <span>{{ item.itemTitle }}</span>
                                <div
                                    class="flex h-[34px] w-[34px] items-center justify-center rounded-xl bg-secondary-default"
                                >
                                    <svg
                                        width="12"
                                        height="12"
                                        viewBox="0 0 12 12"
                                        fill="none"
                                        class="transition-transform"
                                        xmlns="http://www.w3.org/2000/svg"
                                        x-bind:class="activeIndex == {{ loop.index }} && 'rotate-180'"
                                    >
                                        <path
                                            d="M11 6.85198L6 11.241M6 11.241L1 6.85198M6 11.241L6 1"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                            </div>
                            <div
                                x-show="activeIndex == {{ loop.index }}" x-collapse
                                class="prose overflow-hidden pr-8 text-24 md:prose-md"

                            >
                                {{item.itemText }}
                            </div>
                        </div>
                    </div>
               {% endfor %}
               
                {# <Accordion :items="{{ accordionDataVue|json_encode }}"></Accordion> #}
            </div>
            <div class="relative z-10 col-span-5 col-start-8 js-imgContainer">
                <div class="absolute z-10 block w-full h-full bg-secondary-light top-6 left-6 rounded-2xl lg:hidden"></div>
                {% if block.itemImage.one() %}
                <twic-img src={{ block.itemImage.one().url }} class="rounded-2xl relative z-20" ratio="1143/700" alt={{ block.itemImage.one().title }} />
{# 
                    {% set optimizedImage = block.itemImage.one().fieldStandardImgOpt %}
                    {% set sizes = '100vw' %}
                    <picture class="relative z-20">
                        <source srcset="{{ optimizedImage.srcsetWebP() }}" sizes="{{ sizes }}" type="image/webp" />
                        <img src="{{ optimizedImage.src() }}"
                            srcset="{{ optimizedImage.srcset() }}"
                            width="{{ block.itemImage.one().getWidth() }}"
                            height="{{ block.itemImage.one().getHeight() }}"
                            sizes="{{ sizes }}"
                            class="rounded-2xl lg:max-w-none lg:object-cover lg:object-left-top lg:h-[700px]" />
                    </picture> #}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{# prettier-ignore-start #}
<script>
    document.addEventListener('alpine:init', () => {
       
        Alpine.data('collapse', () => ({
            activeIndex: 1,
 
            clickHandler(index) {
               this.activeIndex = index
            }
        }))
    })
</script>
{# prettier-ignore-end #}