{% import '_macros/_tools.twig' as macros %}

<div class="section js-accordionImages">
    <div class="container relative">
        <div class="grid-cols-12 gap-10 lg:grid">
            <div class="col-span-5">
                {% if block.itemTitle %}
                    <div class="overflow-hidden">
                        <h2 class="font-medium text-31 lg:!text-48 transform translate-y-full js-title">
                            {{ block.itemTitle }}
                        </h2>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="relative grid-cols-12 gap-10 lg:grid">
            <div class="js-accordionImageBackground hidden lg:!block bg-secondary-light absolute top-6 left-1/2 w-[50vw] rounded-2xl"></div>
            <div class="relative z-10 col-span-5 mb-10 js-accordion lg:mb-0">
                {% set accordionData = block.itemList.all() %}

                {% set accordionDataVue = [] %}

                {% for item in accordionData %}
                    {% set accordionDataVue =
                        accordionDataVue|merge(
                            [
                                {
                                    itemTitle: item.itemTitle,
                                    itemText: item.itemText
                                }
                            ]
                        )
                    %}
                {% endfor %}

                <Accordion :items="{{ accordionDataVue|json_encode }}"></Accordion>
            </div>
            <div class="relative z-10 col-span-5 col-start-8 js-imgContainer">
                <div class="absolute z-10 block w-full h-full bg-secondary-light top-6 left-6 rounded-2xl lg:hidden"></div>
                {% if block.itemImage.one() %}
                <twic-img src={{ block.itemImage.one().url }} class="rounded-2xl" ratio="1143/700" alt={{ block.itemImage.one().title }} />
{# 
                    {% set optimizedImage = block.itemImage.one().fieldStandardImgOpt %}
                    {% set sizes = '100vw' %}
                    <picture class="relative z-20">
                        <source srcset="{{ optimizedImage.srcsetWebP() }}" sizes="{{ sizes }}" type="image/webp" />
                        <img src="{{ optimizedImage.src() }}"
                            srcset="{{ optimizedImage.srcset() }}"
                            width="{{ block.itemImage.one().getWidth() }}"
                            height="{{ block.itemImage.one().getHeight() }}"
                            sizes="{{ sizes }}"
                            class="rounded-2xl lg:max-w-none lg:object-cover lg:object-left-top lg:h-[700px]" />
                    </picture> #}
                {% endif %}
            </div>
        </div>
    </div>
</div>
