{% import '_macros/_tools.twig' as macros %}

<div class="section">
    <div class="container">
        <div class="grid-cols-12 gap-5 lg:gap-10 md:grid">
            <div class="col-span-7 relative after:h-full after:w-full after:absolute after:top-6 after:rounded-2xl after:left-6 after:content-[''] after:z-0 after:block after:transform after:bg-secondary-default">
                <div class="relative z-10 h-full p-6 prose md:prose-lg max-w-none bg-tertiary-default rounded-2xl md:p-8">
                    {% if block.itemTitle %}
                        <h2 class="font-medium text-31 md:!text-48">
                            {{ block.itemTitle|nl2br }}
                        </h2>
                    {% endif %}
                    {{ block.itemLeftColumn.itemText }}
                    {% if block.itemLeftColumn.itemLink.getLink() %}
                        <div class="mt-3 md:mt-6">
                            {{
                                macros.button(
                                    block.itemLeftColumn.itemLink.getUrl(),
                                    block.itemLeftColumn.itemLink.getText(),
                                    'btn-black',
                                    'bg-black-default'
                                )
                            }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="flex flex-col col-span-4 col-start-9 mt-14 md:mt-6">
                <div class="flex items-start">
                    {% if block.itemRightColumn.itemTitle %}
                        <h2 class="font-medium text-31 md:!text-48">
                            {{ block.itemRightColumn.itemTitle|nl2br }}
                        </h2>
                    {% endif %}
                </div>

                <div class="prose md:prose-lg max-w-none">
                    {{ block.itemRightColumn.itemText }}
                </div>
            </div>
        </div>
    </div>
    {% if block.itemVideo.one() %}
        <div class="container relative z-10 mt-6 md:mt-16">
            <div class="grid-cols-12 gap-10 md:grid">
                <video class="col-span-10 col-start-2 rounded-2xl" width="1194" height="522" autoplay muted loop playsinline>
                    <source src="{{ block.itemVideo.one().url }}" type="video/mp4" />
                </video>
            </div>
        </div>
    {% endif %}
</div>
