<!DOCTYPE html>
{%- set shortLang = currentSite.language|slice(0, 2) -%}
<html lang="{{ shortLang }}">
<head>
    <script>
        partytown = {
            lib: '/dist/~partytown/',
            forward: ['dataLayer.push'],
        };
    </script>
    <script>
        {{ craft.vite.inline("@webroot/dist/~partytown/partytown.js") }}
    </script>

    <!-- Google Tag Manager -->
    <script type="text/partytown">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MBV7S2T');</script>
    <!-- End Google Tag Manager -->

    {% apply spaceless %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1{% if devMode %},user-scalable=no{% endif %}">
        
        <link rel="dns-prefetch" href="{{ siteUrl }}">
        <link rel="preconnect" href="{{ siteUrl }}" crossorigin="">
        
        {# Critical CSS #}
        {{ craft.vite.includeCriticalCssTags() }}
        
        {{ craft.vite.script("src/js/app.js") }}
    
        {% include '_inc/_fonts.twig' %}
        {% include '_inc/_favicon.twig' %}
    {% endapply %}
    {% block scripts %}

    {% endblock %}
    {% block preload %}

    {% endblock %}

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBV7S2T"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="wrapper" class="flex flex-col min-h-screen font-light text-black-default text-copy">
    {% include '_layout/_header' %}
    <main class="overflow-hidden position-relative grow">
        {% block content %}{% endblock %}
    </main>
    {% include '_layout/_footer.twig' %}
    {% include '_inc/_mobilemenu' %}
</div>
</body>
</html>