<!DOCTYPE html>
{%- set shortLang = currentSite.language|slice(0, 2) -%}
<html lang="{{ shortLang }}">
<head>
    {% apply spaceless %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1{% if devMode %},user-scalable=no{% endif %}">
        <meta name="robots" content="{% if devMode or entry.section.handle=='errorPages' %}noindex,nofollow{% else %}all{% endif %}">

        {{ craft.vite.script("src/js/app.js") }}

        {# Critical CSS #}
        {{ craft.vite.includeCriticalCssTags() }}

        {% include '_inc/_fonts.twig' %}

    {% endapply %}
</head>

{% set defaultMarginY  = 'my-5 my-lg-14' %}
{% set defaultPaddingY = 'py-5 py-lg-14' %}
{% set buttonMarginT   = 'mt-4' %}
{% set defaultMarginT  = 'mt-5 mt-lg-14' %}
{% set defaultMarginB  = 'mb-5 mb-lg-14' %}
{% set marginTsm       = 'mt-5 mt-lg-7' %}


<body data-entry-id="{{ entry is defined ? entry.id : '?' }}" data-entry-type="{{ entry is defined ? entry.type : '?' }}">

<div id="wrapper" class="d-flex flex-column min-vh-100">
    {% block header %}
        {% include '_layout/_header' %}
    {% endblock %}
    <main class="position-relative">
        <div class="confetti"></div>
        {% block content %}{% endblock %}
    </main>
    {% block footer %}
        {% include '_layout/_footer.twig' %}
    {% endblock %}
	{#{% include '_layout/_searchForm.twig' %}#}
</div>
</body>
</html>