<!DOCTYPE html>
{%- set shortLang = currentSite.language|slice(0, 2) -%}
<html lang="{{ shortLang }}">
<head>
    {% apply spaceless %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1{% if devMode %},user-scalable=no{% endif %}">
        <meta name="robots" content="{% if devMode or entry.section.handle=='errorPages' %}noindex,nofollow{% else %}all{% endif %}">

        {{ craft.vite.script("src/js/app.js") }}

        {# Critical CSS #}
        {{ craft.vite.includeCriticalCssTags() }}

        {% include '_inc/_fonts.twig' %}
    {% endapply %}
</head>

<body data-entry-id="{{ entry is defined ? entry.id : '?' }}" data-entry-type="{{ entry is defined ? entry.type : '?' }}">

<div id="wrapper" class="d-flex flex-column min-vh-100">
    {% block header %}
        {% include '_layout/_header' %}
    {% endblock %}
    <main class="position-relative">
        <div class="confetti"></div>
        {% block content %}{% endblock %}
    </main>
    {% block footer %}
        {% include '_layout/_footer.twig' %}
    {% endblock %}
</div>
</body>
</html>