{% import '_macros/_tools.twig' as macros %}

{% set mainNav = globalAkNav.fieldAkMainNav.all() %}
{% set highLightNav = globalAkNav.fieldAkHighlightNav %}

{% apply spaceless %}
<header class="flex h-[70px] md:h-[125px]">
    <div class="container h-full">
        <div class="flex items-center justify-between h-full">
            <a href="{{ siteUrl }}" class="inline-block w-[110px] md:w-[200px]">
                {% if globalAkCompany.fieldaKLogoHeader|length > 0 %}
                    <img src="{{ globalAkCompany.fieldaKLogoHeader.one().getUrl({}) }}" width="200" height="61" alt="Angelo Keirsebilck Logo" />
                {% endif %}
            </a>
            <div class="items-center hidden lg:flex">
                {% for navItem in mainNav %}
                    {% set isActive = false %}
                    {% if navItem.itemLink.getLink() %}
                        {% if entry.url == navItem.itemLink.getElement().url %}
                            {% set isActive = true %}
                        {% endif %}

                        <a href="{{ navItem.itemLink.getUrl() }}"
                            class="leading-none lowercase font-normal text-22  transition-colors hover:text-primary-default {{
                            not loop.last
                                ? 'mr-14'
                            }} {{ isActive ? 'text-primary-default' : 'text-black-default' }}">
                            {{ navItem.itemLink.getText() }}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if highLightNav.getLink() %}
                    {% set isActive = false %}

                    {% if entry.url == highLightNav.getUrl() %}
                        {% set isActive = true %}
                    {% endif %}

                    {% set btnClass = isActive ? 'btn-black text-primary-default' : 'btn-black ' %}

                    <div class="ml-14">
                        {{ macros.button(highLightNav.getUrl(), highLightNav.getText(), btnClass, 'bg-black-default ') }}
                    </div>
                {% endif %}
            </div>

            {% include '_inc/_hamburger' %}
        </div>
    </div>
</header>
{% endapply %}
