{% import '_macros/_tools.twig' as macros %}

{% set mainNav = globalAkNav.fieldAkMainNav.all() %}
{% set highLightNav = globalAkNav.fieldAkHighlightNav %}

{% apply spaceless %}
<header class="flex h-[70px] md:h-[125px]">
    <div class="container h-full">
        <div class="flex justify-between items-center h-full">
            <a href="{{ siteUrl }}" class="inline-block w-[90px] md:w-[171px]">
                {% if globalAkCompany.fieldaKLogoHeader %}
                    <img src="{{ globalAkCompany.fieldaKLogoHeader.one().getUrl({}) }}"
                        width="171"
                        height="61"
                        alt="Angelo Keirsebilck Logo" />
                {% endif %}
            </a>
            <div class="hidden lg:flex items-center">
                {% for navItem in mainNav %}
                    {% if navItem.itemLink.getLink() %}
                        <a href="{{ navItem.itemLink.getUrl() }}"
                            class="leading-none lowercase font-normal text-22 text-black-default transition-colors hover:text-primary-default {{
                            not loop.last
                                ? 'mr-14'
                            }}">
                            {{ navItem.itemLink.getText() }}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if highLightNav.getLink() %}
                    <div class="ml-14">
                        {{
                            macros.button(
                                highLightNav.getUrl(),
                                highLightNav.getText(),
                                'btn-black',
                                'bg-black-default'
                            )
                        }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endapply %}
